-e git+https://github.com/frankwiles/django-taggit-suggest.git#egg=django-taggit-suggest
#-e git+https://github.com/Fueled/django-rest-framework-stripe.git@#egg=django-rest-framework-stripe
alabaster==0.7.10
appdirs==1.4.3
Babel==2.4.0
bleach==2.0.0
decorator==4.0.11
defusedxml==0.5.0
Django==1.8.17
django-admin-bootstrapped==2.5.7
django-allauth==0.31.0
django-cors-headers==2.0.2
django-crispy-forms==1.6.1
django-extensions==1.7.8
django-filter==1.0.1
django-location-field==2.0.2
django-money==0.10.2
django-rest-auth==0.9.1
django-rest-elasticsearch==0.2.0
django-subdomains==2.1.0
django-taggit==0.22.0
django-taggit-serializer==0.1.5
djangorestframework==3.9.1
docutils==0.13.1
elasticsearch==5.3.0
elasticsearch-dsl==5.2.0
entrypoints==0.2.2
geopy==1.11.0
html5lib==0.999999999
imagesize==0.7.1
ipykernel==4.6.1
ipyparallel==6.0.2
ipython==6.0.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonfield==2.0.1
jsonschema==2.6.0
jupyter-client==5.0.1
jupyter-core==4.3.0
Markdown==2.6.8
MarkupSafe==1.0
mistune==0.7.4
nbconvert==5.1.1
nbformat==4.3.0
nose==1.3.7
notebook==5.0.0
oauthlib==2.0.2
olefile==0.44
packaging==16.8
pandocfilters==1.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.1
py-moneyed==0.6.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
python3-openid==3.1.0
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
stripe==1.53.0
terminado==0.6
testpath==0.3
tornado==4.5.1
traitlets==4.3.2
urllib3==1.21
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==2.0.0
django-phonenumber-field==1.3.0
phonenumberslite==8.4.2
